<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-compatible" content="ie=edge" />
    <title>Quizz.com 😊</title>
    <link rel="stylesheet" href="../styles/app.css" />
    <link rel="stylesheet" href="../styles/high-scores.css" />
  </head>
  <body>
    <div class="container">
      <div id="home" class="flex-center flex-column">
        <h1>High Scores</h1>
        <ul id="high-scores"></ul>
        <a href="/" class="btn">Go Home</a>
      </div>
    </div>
    <script src="../scripts/high-scores.js"></script>
  </body>
</html>
