<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-compatible" content="ie=edge" />
    <title>Quizz.com 😊</title>
    <link rel="stylesheet" href="../styles/app.css" />
    <link rel="stylesheet" href="../styles/quizz.css" />
  </head>
  <body>
    <div class="container">
      <div id="home" class="flex-center flex-column">
        <div id="quiz" class="justify-center flex-column">
          <div class="panel">
            <div class="panel-item">
              <p class="panel-prefix" id="question-number">Question #</p>
              <div class="progress-bar">
                <div class="progress-bar-full" id="progress-bar"></div>
              </div>
            </div>
            <div class="panel-item">
              <p class="panel-prefix">Score</p>
              <p class="panel-text" id="score">0</p>
            </div>
          </div>
          <h2 id="question">ANSWER!</h2>
          <div class="choice-container">
            <p class="choice-prefix">A</p>
            <p class="choice-text" data-number="0">Answer option.</p>
          </div>
          <div class="choice-container">
            <p class="choice-prefix">B</p>
            <p class="choice-text" data-number="1">Answer option.</p>
          </div>
          <div class="choice-container">
            <p class="choice-prefix">C</p>
            <p class="choice-text" data-number="2">Answer option.</p>
          </div>
          <div class="choice-container">
            <p class="choice-prefix">D</p>
            <p class="choice-text" data-number="3">Answer option.</p>
          </div>
        </div>
      </div>
    </div>
    <script src="../scripts/quizz.js"></script>
  </body>
</html>
